@model WspolnaKasa.Models.Dashboard.SummaryViewModel

@{
    ViewBag.SummarySidebar_Title = WspolnaKasa.App_GlobalResources.Translations.Dashboard_People;
    ViewBag.SummarySidebar_Total = WspolnaKasa.App_GlobalResources.Translations.Dashboard_Summary_Total;    
}

<div class="col-lg-12">
    <h4>@ViewBag.SummarySidebar_Title</h4>
    <div id="settlements" class="list-group">
        @foreach (var settlement in Model.Settlements)
        {
            <div class="list-group-item">
                <span>@settlement.UserName</span>
                @if (settlement.Amount < 0)
                {
                    <span class="badge text-right list-group-item-danger">@string.Format("{0:F2} zł", settlement.Amount)</span>
                }
                else
                {
                    <span class="badge text-right list-group-item-success">@string.Format("{0:F2} zł", settlement.Amount)</span>
                }
            </div>
        }
        <div class="list-group-item total-row">
            <span>@ViewBag.SummarySidebar_Total:</span>
            @if (Model.TotalAmount < 0)
            {
                <span class="badge text-right list-group-item-danger">@string.Format("{0:F2} zł", Model.TotalAmount)</span>
            }
            else
            {
                <span class="badge text-right list-group-item-success">@string.Format("{0:F2} zł", Model.TotalAmount)</span>
            }
        </div>
    </div>
</div>