@model WspolnaKasa.Models.SetPasswordViewModel
@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Manage_SetPassword_Title;
    ViewBag.Text = WspolnaKasa.App_GlobalResources.Translations.Manage_SetPassword_Text;
    ViewBag.Button = WspolnaKasa.App_GlobalResources.Translations.SetPassword_Button;
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    @ViewBag.Text
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group col-md-10">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "margin-bottom: 1px", placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
        <input type="submit" value="@ViewBag.Button" class="btn btn-default" style="margin-top: 3px;" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}