@model WspolnaKasa.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    ViewBag.LogInUsing = WspolnaKasa.App_GlobalResources.Translations.Account_ExternalLoginsListPartial_LoginUsing;
    var facebookProvider = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().First(p => p.AuthenticationType == "Facebook");
}

<style>
    .btn-fb img {
        vertical-align: middle;
        height: 100%;
        width: 25px;
        margin-right: 4px;
    }
</style>

@{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p id="facebookLogging">
                <button type="submit" class="btn btn-default btn-fb" id="@facebookProvider.AuthenticationType" name="provider" value="@facebookProvider.AuthenticationType" title="@ViewBag.LogInUsing @facebookProvider.Caption">
                    <img src="~/Content/Images/FB-f-Logo__blue_50.png" />@ViewBag.LogInUsing @facebookProvider.AuthenticationType
                </button>
            </p>
        </div>
    }
}
