@model WspolnaKasa.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Account_ForgotPassword_Title;
    ViewBag.Email = WspolnaKasa.App_GlobalResources.Translations.Account_ForgotPassword_Email;
    ViewBag.Continue = WspolnaKasa.App_GlobalResources.Translations.Account_ForgotPassword_Continue;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ViewBag.Email</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
        <input type="submit" class="btn btn-default" value="@ViewBag.Continue" style="margin-top:3px;" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
