@model WspolnaKasa.Models.ResetPasswordViewModel
@{
    ViewBag.Title = WspolnaKasa.App_GlobalResources.Translations.Account_ResetPassword_Title;
    ViewBag.Button = WspolnaKasa.App_GlobalResources.Translations.SetPassword_Button;    
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "margin-bottom: 1px", placeholder = @Html.DisplayNameFor(m => m.Email) })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "margin-bottom: 1px", placeholder = @Html.DisplayNameFor(m => m.Password) })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
        <input type="submit" class="btn btn-default" value="@ViewBag.Button" style="margin-top: 3px;" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}